@using Harjoitus_4_1_1.ViewModels
@model IEnumerable<OrderRows>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
