@using Harjoitus_4_1_1.Models
@model IEnumerable<Territory>

@{
    ViewBag.Title = "Territories - Recycle Bin";
    var returnUrl = (string)ViewBag.ReturnUrl ?? Request.Url.PathAndQuery;
}

<h2>@ViewBag.Territories</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="validation-summary-errors">
        @TempData["ErrorMessage"]
    </div>
}

<hr />

<div class="d-flex flex-wrap align-items-center gap-2 mb-2">
    <a class="btn btn-secondary me-1" href="@Url.Action("Index", new { returnUrl = returnUrl })">
        <i class="bi bi-skip-backward me-1" aria-hidden="true"></i>
        <span>Back</span>
    </a>
    <input type="text"
           id="search-territories"
           onkeyup="filterTable('search-torritories', 'territories-table')"
           placeholder="Search..."
           class="form-control">
</div>

<div class="table-wrapper">
    <table class="table table-striped table-bordered table-fixed" id="territories-table">
        <colgroup>
            <col style="width: 90px;" />   @* TerritoryID *@
            <col style="width: 220px;" />  @* TerritoryDescription *@
            <col style="width: 90px;" />   @* RegionID *@
            <col style="width: 300px;" />  @* Functions *@
        </colgroup>
        <thead class="table-dark">
            <tr>
                <th class="sortable text-nowrap">
                    <i class="bi-arrow-down me-1"></i>@Html.DisplayNameFor(model => model.TerritoryID)
                </th>
                <th class="sortable text-nowrap">
                    <i class="bi-arrow-down me-1 d-none"></i>@Html.DisplayNameFor(model => model.TerritoryDescription)
                </th>
                <th class="sortable text-nowrap">
                    <i class="bi-arrow-down me-1 d-none"></i>@Html.DisplayNameFor(model => model.RegionID)
                </th>
                <th class="text-nowrap">
                    Functions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="@Html.DisplayNameFor(model => model.TerritoryID)">
                        @Html.DisplayFor(_ => item.TerritoryID)
                    </td>
                    <td data-label="@Html.DisplayNameFor(model => model.TerritoryDescription)">
                        @Html.DisplayFor(_ => item.TerritoryDescription)
                    </td>
                    <td data-label="@Html.DisplayNameFor(model => model.RegionID)">
                        @Html.DisplayFor(_ => item.Region.RegionDescription)
                    </td>
                    <td class="cell-actions">
                        @using (Html.BeginForm("RestoreFromRecycleBin", "Territories",
                            new { id = item.TerritoryID.Trim(), returnUrl = returnUrl }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-sm btn-success me-1">
                                <i class="bi bi-recycle me-1" aria-hidden="true"></i>
                                <span>Restore</span>
                            </button>
                        }
                        <a class="btn btn-sm btn-info me-1" href="@Url.Action("Details", new { id = item.TerritoryID.Trim(), returnUrl = returnUrl })">
                            <i class="bi bi-info-square me-1" aria-hidden="true"></i>
                            <span>Details</span>
                        </a>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("DeletePermanently", new { id = item.TerritoryID.Trim(), returnUrl = returnUrl })">
                            <i class="bi bi-trash me-1" aria-hidden="true"></i>
                            <span>Delete</span>
                        </a>
                    </td>
                </tr>
            }
            <tr id="no-results-territories" style="display: none; border: none">
                <td colspan="2" style="text-align: center; padding: 40px; padding-left: 40px !important; color: #666; border: 1px solid; border-radius: 8px;">
                    No search results.
                </td>
            </tr>
        </tbody>
    </table>
</div>
